extends layout

block scripts
    script(src='/javascripts/lobby.js')

block content
    .container-fluid
        .row.col.justify-content-center
            h1 Lobby: #{games.code}
        .row.justify-content-center.form-group
            for user in games.users
                .d-flex.justify-content-center
                    form(method="post" action="/remove_user")
                        .col.btn-group
                            a.btn.btn-primary #{user.username}
                            input(name="toDelete", value=user, hidden)
                            button.btn.btn-danger(type="submit") X
        .row.justify-content-center
            .form-group
            form(method="post" action="/night")
                button.btn.btn-primary(type="submit") Start Game

        script.
            var numOfUsers = "#{numOfUsers}";
