extends layout

block content
  if(typeof(err) !== 'undefined')
    p= err
  .container.container-small
    .d-flex.justify-content-center
      h1 #{title}
    .d-flex.justify-content-center
      p Welcome to the game of #{title} #{username}
    form(name="add_user" method="post" action="/")
      .d-flex.justify-content-center
        .form-group
          input#username.form-control( name="username" type="text" placeholder="Username")
      .d-flex.justify-content-center
        .form-group
          .input-group
            input.form-control(name="code" type="number" placeholder="O.P.E.", value= code)
            .input-group-append
              button.btn.btn-primary(name="join" type="submit") Join
    .d-flex.justify-content-center
      p Or
    form(name="host_user" method="post" action="/create_code")
      input(id="create" name="username_copy" value="Yeet", hidden)
      .d-flex.justify-content-center
        .form-group
          button.btn.btn-primary(name="host" type="submit" onclick="$('#create').val($('#username').val())") Create Room
    script.