doctype html
html
  head
    title= title
    link(rel='shortcut icon' href="#")
    link(rel='stylesheet' href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.1.5.min.js')
    script(src='/javascripts/bootstrap.min.js')
    block scripts
    meta(name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no")
  body
    block content
