extends layout

block scripts
    script(src='/javascripts/merlin.js')

block content
    .container-fluid
        .row.col.justify-content-center
        if(typeof(error) !== 'undefined')
            h1#err.text-danger #{error}
        .d-flex.justify-content-center
            h1 Login
        form(name="add_user" method="post" action="/login")
            .d-flex.justify-content-center
                .form-group
                    input.form-control(id="username" name="username" type="text" placeholder="Username")
            .d-flex.justify-content-center
                .form-group
                    .input-group
                        input.form-control(name="password" type="password" placeholder="Password")
                    .input-group-append
                        button.btn.btn-primary(type="submit") Join