extends layout

block content
    .container.container-small
        if showMission    
            .d-flex.justify-content-center
                h2#error.text-danger Please put the correct number of people on this mission
            .d-flex.justify-content-center
                h1 Pick a #{missionSize} person mission:
            .d-flex.justify-content-center
                .row.justify-content-center.form-group
                    for user in users
                        .d-flex.justify-content-center
                            .col
                                a.btn.btn-secondary #{user.username}
            .d-flex.justify-content-center.row
                a#submit.btn.btn-warning send mission
            #missionForm.d-flex.justify-content-center
                .row.justify-content-center
                    .col.form-group
                        form(method="post" action="/vote")
                            button.btn.btn-primary.vote(type="submit" name="votePass") Pass
                            .col.form-group
                        form(method="post" action="/vote")
                            button.btn.btn-danger.vote(type="submit" name="voteFail") Fail
        else
            .d-flex.justify-content-center
                h1 Sit tight, there is a mission going on right now


    script(type="text/javascript").
        $('a').each(function() {
            $(this).click(function() {
                if($(this).hasClass("btn-secondary")){
                    $(this).removeClass("btn-secondary");
                    $(this).addClass("btn-primary");
                }
                else if($(this).hasClass("btn-primary")){
                    $(this).removeClass("btn-primary");
                    $(this).addClass("btn-secondary");
                }
            });
        });
    script(type="text/javascript").
        $("#submit").click(()=>{
            let suggestedUsers = {"users" : []};
            $("a.btn-primary").each((index,value)=> {
                suggestedUsers.users.push($(value).text());
            });
            $("a.btn-primary").removeClass("btn-primary").addClass("btn-secondary");
            $.ajax({
                method: "POST",
                url: "/main/new_mission",
                data: suggestedUsers,
                success: function (result) 
                {
                    if(result)
                    {
                        location.href = '/main';
                    }
                }
            });
        });
    script(type="text/javascript").
        window.onload=()=>{
            $(".vote").hide();
            function isOnMission() {
                $.ajax({
                    method: "GET",
                    url: "/main/new_mission",
                    success: function (result) 
                    {
                        if(result==true){
                            $(".vote").show();
                        }else{
                            $(".vote").hide();
                        }
                        window.setTimeout(()=>location.reload(),3000);
                        console.log(result);
                    }
                });
            }
        isOnMission();
        };
        //setInterval(isOnMission, 3000);