extends layout

block scripts
    script(src='/javascripts/main.js')

block content
    .container.container-small
        each mission in missions
            if(mission=="pass")
                span(style="color:green;font-size:10em" onclick="(alert('pass'))") &#10004;
            else
                if(mission==1)
                    span(style="color:red;font-size:10em" onclick="(alert('"+mission+" fail'))") &#10006;
                else
                    span(style="color:red;font-size:10em" onclick="(alert('"+mission+" fails'))") &#10006;
        if state=="showMission"    
            .d-flex.justify-content-center
                h2#error.text-danger Please put the correct number of people on this mission
            .d-flex.justify-content-center
                h1 Pick a #{missionSize} person mission:
            .d-flex.justify-content-center
                .row.justify-content-center.form-group
                    for user in users
                        .d-flex.justify-content-center
                            .col
                                a.btn.btn-secondary #{user.username}
            .d-flex.justify-content-center.row
                a#submit.btn.btn-warning send mission
        else if state=="showWait"
            .d-flex.justify-content-center
                h1 Sit tight, there is a mission going on right now
        else if state=="showOnMission"
            #missionForm.d-flex.justify-content-center
                .row.justify-content-center
                    .col.form-group
                        form(method="post" action="/vote")
                            button.btn.btn-primary.vote(type="submit" name="votePass") Pass
                            .col.form-group
                        form(method="post" action="/vote")
                            button.btn.btn-danger.vote(type="submit" name="voteFail") Fail


    script(type="text/javascript").
        var state = "#{state}";