extends layout

block content
    .container-fluid
        h2 Your role is #{role.role}
        if users.length
            h4 the other players you know are:
                for user in users
                    h4 #{user.username} is #{user.role}